{% extends 'main.html' %}
{% block content %}
{% load static %}
        <br/><br/>
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'images/mypic.jpg' %}" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Chandu Reddy</h5>
        <p class="card-text">DevOps Engineer at GGK Tech.</p>
        <p class="card-text">For More projects like this</p>
        <a href="https://www.github.com/chandureddy123" class="btn btn-primary">GitHub</a>
        </div>
        </div>
{% endblock content %}